@import 'variables';

body.home.index > .container {
	max-width: none;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}

#media-timeline {
	border-style: none;
}

#media-timeline {
	.vco-storyjs {
		p {
			font-family: $text-font !important;
		}
	}
}
