body.pages .page {
	font-family: "lucida grande", tahoma, arial, verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body.pages .page h1,
body.pages .page h2,
body.pages .page h3,
body.pages .page h4,
body.pages .page h5,
body.pages .page h6 {
	font-family: "georgia", "times new roman", "times", serif;
	font-weight: normal;
	margin: 1.3em 0 0.8em 0;
	line-height: 1.5em;
}

body.pages .page p {
	color: #333;
}

body.pages .page h1 {
	font-size: 2em;
}

body.pages .page h2 {
	font-size: 1.8em;
}

body.pages .page h3 {
	font-size: 1.6em;
}

body.pages .page h4 {
	font-size: 1.4em;
}

body.pages .page h5 {
	font-size: 1.2em;
}

body.pages .page h6 {
	font-size: 1em;
	font-weight: bold;
}
